.center{
	text-align: center;
}
.nav {
display: flex;
background-color: black;
padding: 20px;
justify-content: center;
}
.nav li{
	margin: 5px;
	cursor: pointer;
}
.type{
	color: lime;
}
.table{
	border: 1px solid black; 
	border-collapse: collapse;
}
.table tr td,th{
	padding: 7px;
}
